.grid-item td{
    padding-top: 15px;
    word-break: break-all;
    text-align: start;
}

.center{
    text-align: center;
}

.start{
    text-align: start;
}

.grid-item svg{
    width: 18px;
    height: 18px;
}