.header{
    height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom,#FCBB13, #FFD404);
    border-radius: 0px 0px 10px 10px;
}

.header h1{
    padding-top: 20px;
    color: #080808;
    font-weight: 600;
}